@model ApartmentsManager.Pet

@{
    ViewBag.Title = "Edit";
    var people = (ViewBag.People as IEnumerable<Person>).ToList();
    var ddlConfig = new SelectList(people, dataValueField: "IDPerson", dataTextField: "FirstName");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDPet)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerID, "OwnerID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OwnerID", ddlConfig, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OwnerID, "", new { @class = "text-danger" })
            </div>
        </div>

        @foreach (var uploadedFile in Model.UploadedFiles)
        {
            <div class="form-group">
                <span class="control-label col-md-2">
                    <strong>@uploadedFile.Name</strong><br />
                    @Ajax.ActionLink("Delete", "Delete", "File", new { id = uploadedFile.IDUploadedFile },
                new AjaxOptions { HttpMethod = "Post" })
                </span>
                <div class="col-md-10">
                    <img src="~/File?id=@uploadedFile.IDUploadedFile" alt="picture" width="300" height="200" />
                </div>
            </div>
        }

        <div class="form-group">
            @Html.Label("Picture", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Picture" multiple accept="image/*" name="files" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
